  /* Footer css */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #6b6b69;
    text-align: center;
}
    /* Footer css */

.upstatus {
text-align:center;
font-weight: bold;
border-radius: 5px;
color:#1bc122; 
height:fit-content
}

.downstatus {
text-align:center;
font-weight: bold;
border-radius: 5px;
color:#d32323; 
height:fit-content
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.addform {
  display: flex;
  justify-content: center;
  background-color:#f8f9fa;
  width:40%;
  margin:auto
}  