{% extends 'base.html' %}

{% block title %}{{ host }}{% endblock title %}  

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'inventory/css/inventory_base.css' %}">

<div class="page-warpper" style="max-width: 1500px; background-color:rgb(255, 255, 255); margin:auto" >
  <div class="banner" style="height: 40px; background-color:rgb(255, 255, 255)"></div>
  <div class="titlebar" style="height: 50px; background-color:rgb(240, 239, 239); vertical-align: middle; padding: 10px;"><h3>{{ title }}</h3></div>
  <div class="hostinfo" style="max-width: 300px; background-color:rgb(214, 214, 214)">
    <div>
      {% for host in hosts %}
      <div class="system" style="text-align: left;">
      <div>System: {{ host.systemtype }}</div>
        <div>Supplier: {{ host.supplier }}</div>
        <div>Platform: {{ host.vendor }}</div>
      </div>
      {% endfor %}
      <div style="height: 10;">
      </div>
      <div>
        {% for host in hostHW %}
        <div>OS: {{ host.os_family}} {{ host.os_version }}</div>
        <div>IP: {{ host.ip }}</div>
      </div>
    </div>
  </div>

  <div>
    <div >
      <div style="height: 30px;"></div>
      <hr>
      <table style="width: 300px; background-color:ghostwhite"> 
        <tr>
          {% for s in storage %}
            <td style="width:30%">
              <img src="{% static "inventory/img/computer-drive-clipart-2.jpg" %}" width="50" height="50" alt="µTower"/>
            </td>
            <td>
              {{ s.name }}
            </td>
            <td>
            {{ s.size }} GB
            </td>
          {% endfor %}  
        </tr>
        <tr>
          <td ><img src="{% static "inventory/img/memory.png" %}" width="50" height="50" alt="µTower"/></td>
          <td>{{host.ram}} MB</td>
          <td></td>
        </tr>
        <tr>
          <td>
            <img src="{% static "inventory/img/cpu.png" %}" width="50" height="50" alt="µTower"/></td>
          <td>{{host.cores}}</td>
          <td></td>
        </tr>
      </table>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}