{% extends 'base.html' %}

{% block title %}{{ host }}{% endblock title %}  

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'inventory/css/inventory_base.css' %}">

<h1> Server profile</h1>
<hr><h2>{{ title }}</h2></hr>

<div class="info">
  <div class = "systeminfo">
    <h3>System Info</h3>
      {% for host in hosts %}
      <div class="system">
        <p>System: {{ host.systemtype }}</p>
      </div>
    </div>
  {% endfor %}
  <div class = "serverinfo">
      <h3>System Info</h3>
        {% for host in hostHW %}
        <div>
          <p>OS: {{ host.os_family}} {{ host.os_version }} </p>
        </div>
        <div>       
          <p>IP: {{ host.ip }}</p>
        </div>
      </div>
  <div class="hardwareinfo">
    <h3> Hardware Info </h3>
      <div>
          <p>Devices:<p>
          {% for s in storage %}
            <p style="margin-left: 20px"> Drive: {{ s.name }} Size : {{ s.size }}GB</p>
          {% endfor %}
      </div>
      <div>
          <p>Cpu cores: {{host.cores}}</p>
      </div>
      <div>
          <p>Memory: {{host.ram}}MB</p>
      </div>
    </div>
        {% endfor %}

{% endblock content %}