{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}  

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'inventory/css/inventory_base.css' %}">
<h1>{{ title }}</h1>
<div class="searchbox">
  <div class="child">
    <form method="GET" action=".">
      <div class="form-row">
        <div class="form-group col-12">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="host_search" placeholder="Host Search..." />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>        
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div class="child">
        <table >
          <tr>
          <th>Hostname</th>
          <th style="width:20px"><img src="{% static "inventory/img/RDP.png" %}" alt="ssh"/></th>
          <th>System</th>
          <th>Server type</th>
          <th>Version</th>
          <th>Status</th>
          <th >Connection</th>
          </tr>
          <tr style="height:10px"> </tr>
        {% for host in queryset %}
          <tr>
            <td style="vertical-align:bottom"><a href="{% url 'profile' host.host %}">{{ host.host }}</a></td>
            {% if host.system == "Linux" %}
            <td style="width:35px; text-align:center"><img src="{% static "inventory/img/redhat.png" %}" alt="Redhat"/></td>
            {% elif host.system == "Windows"%}
            <td style="width:35px; text-align:center"><img src="{% static "inventory/img/Windows.png" %}" alt="Windows"/></td>
            {% else %}
            <td style="width:35px; text-align:center"><img src="{% static "inventory/img/RDP.png" %}" alt="ssh"/></td>
            {% endif %}
            <td>{{ host.host.systemproduct  }} </td>
            <td style="width:10px">{{ host.host.systemtype}}   </td>
            <td>{{ host.os_version }} </td>
            {% if host.host.server_status == "Connected" %}
            <td class="upstatus">{{ host.host.server_status }}</td>
            {% else %}
            <td class="downstatus">{{ host.host.server_status }}</td>
            {% endif %}
            {% if host.host.connectiontype == 22 %}
            <td class="connection">SSH</td>
            {% elif host.host.connectiontype == 5985 %}
            <td class="connection">KERBEROS</td>
            {% endif %}
        {% endfor %}
          </tr>
        <tr style="height:3px"> </tr>
     
        </table>
   </div>
</div>  
{% endblock content %}