{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}  

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'inventory/css/inventory_base.css' %}">
<h1>{{ title }}</h1>
<div class="searchbox">
  <div class="child">
    <form method="GET" action=".">
      <div class="form-row">
        <div class="form-group col-12">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="host_search" placeholder="Host Search..." />
            <span class="input-group-append">
              <div class="input-group-text bg-transparent">
                <i class="fa fa-search"></i>
              </div>
            </span>
          </div>
        </div>        
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div class="child">
        <table >
          <tr>
          <th>Hostname</th>
          <th>System type</th>
          <th>OS</th>
          <th>Version</th>
          </tr>
          <tr style="height:10px"> </tr>
        {% for host in queryset %}
          <tr>
            <td><a href="{% url 'profile' host.name %}">{{ host.name }}</a></td>
            <td>{{ host.systemtype }} </td>
            <td>{{ host.os_family}}   </td>
            <td>{{ host.os_version }} </td>
          </tr>
        <tr style="height:3px"> </tr>

        {% endfor %}
        </table>
  
   </div>
</div>  
{% endblock content %}