{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}  
{% block content %}
{% load static %}
<br><br>
<h1 style="text-align: center;">{{ title }}</h1>
<br/><br/>
<div class="addform">
    <div class="table">
        <thead class="thead-dark">
                <form action='.' method='POST'> {% csrf_token %}
                    <table>
                        <tr style="width: 100%;">
                            <th>{{form.source.label}}</th>
                            <th>{{form.sourcenat.label}}</th>
                            <th>{{form.dest.label}}</th>
                            <th>{{form.destnat.label}} </th>
                        </tr>
                        <tr>
                            <td>{{form.source.as_widget}}</td>
                            <td>{{form.sourcenat.as_widget}}</td>
                            <td>{{form.dest.as_widget}}</td>
                            <td>{{form.destnat.as_widget}}</td>
                        </tr>

                        <tr style="height: 10px;"></tr>
                    </table>
                    <table>
                        <tr>
                            <th>{{form.port.label}}</th>
                            <th style="width:125px">{{form.protocol.label}}</th>
                            <th>{{form.ref.label}}</th>
                            <th>{{form.ticket.label}}</th>
                            <th>{{form.status.label}}</th>
                        </tr>

                        <tr style="height: 10px;"></tr>

                        <tr>
                            <td>{{form.port.as_widget}}</td>
                            <td >{{form.protocol.as_widget}}</td>
                            <td>{{form.ref.as_widget}}</td>
                            <td>{{form.ticket.as_widget}}</td>
                            <td>{{form.status.as_widget}}</td> 
                        </tr>
                    </table>
                    <table>
                        <tr style="width: 100%;">
                            <th>{{form.note.label}}</th>
                            <th>{{form.description.label}}</th>
                        </tr>
                        <tr>
                            <td>{{form.note.as_widget}}</td>
                            <td>{{form.description.as_widget}}</td>
                        </tr>
                    </table>
                <br>
                <table>
                    <tr>
                        <td>
                            {% if form.sourcenat.value == '' %}
                                {% if form.sourcenat.value == ''%}
                                <b>{{ form.source.value}}  from {{ form.sourcenat.value}} via {{form.destnat.value}}:{{ form.port.value}} to {{form.dest.value}}</b>
                                {% endif %}
                            {% else %}
                                <b>{{ form.source.value}} to {{form.dest.value}}:{{form.port.value}}</b>
                            {%endif%}
                            
                        </td>
                    </tr>
                </table>
                <input type="submit" name=validate value="Validate"/>
            </form>
        </thead>
    </div>
    
</div>
{% endblock content %}