{% extends 'base.html' %}
{% block content %}
<div class="card" style="max-width:800px">
  <form method="post" action=".">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-3">{% include 'partials/form_field.html' with field=form.source %}</div>
      <div class="col-md-3">{% include 'partials/form_field.html' with field=form.sourcenat %}</div>
      <div class="col-md-3">{% include 'partials/form_field.html' with field=form.dest %}</div>
      <div class="col-md-3">{% include 'partials/form_field.html' with field=form.destnat %}</div>
    </div>
    <div class="row">
      <div class="col-md-3">{% include 'partials/form_field.html' with field=form.port %}</div>
      <div class="col-md-3">{% include 'partials/form_field.html' with field=form.protocol %}</div>
      <div class="col-md-3">{% include 'partials/form_field.html' with field=form.ref %}</div>
      <div class="col-md-3">{% include 'partials/form_field.html' with field=form.ticket %}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{% include 'partials/form_field.html' with field=form.status %}</div>
    </div>
    <div class="row">
      <div class="col-md-6">{% include 'partials/form_field.html' with field=form.note %}</div>
      <div class="col-md-6">{% include 'partials/form_field.html' with field=form.description %}</div>
    </div>

    {% if form.source.value %}
    <div class="card" style="background:var(--color-content-bg)">
      <strong>
        {% if form.sourcenat.value %}
          {{ form.source.value }} from {{ form.sourcenat.value }} via {{ form.destnat.value }}:{{ form.port.value }} to {{ form.dest.value }}
        {% else %}
          {{ form.source.value }} to {{ form.dest.value }}:{{ form.port.value }}
        {% endif %}
      </strong>
    </div>
    {% endif %}

    <button type="submit" name="validate" value="Validate" class="btn btn-primary">Validate</button>
  </form>
</div>
{% endblock content %}
