{% extends 'base.html' %}

{% block content %}
<div class="card">
  <table class="data-table">
    <thead>
      <tr>
        <th>Fw id</th>
        <th>Reference id</th>
        <th>Source</th>
        <th>Source NAT</th>
        <th>Destination</th>
        <th>Destination NAT</th>
        <th>Port</th>
        <th>Protocol</th>
        <th>Status</th>
        <th>Ticket nr.</th>
        <th>Description/Note</th>
      </tr>
    </thead>
    <tbody>
      {% for fw in fwset %}
      <tr>
        <td>{{ fw.id }}</td>
        <td>{{ fw.ref }}</td>
        <td>{{ fw.source }}</td>
        <td>{{ fw.sourcenat }}</td>
        <td>{{ fw.dest }}</td>
        <td>{{ fw.destnat }}</td>
        <td>{{ fw.port }}</td>
        <td>{{ fw.protocol }}</td>
        <td>{{ fw.status }}</td>
        <td>{{ fw.ticket }}</td>
        <td>{{ fw.description }}<br>{{ fw.note }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="11" class="data-table__empty">Rule not found.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
