{% load static %}
 <html>
   <head>
     <meta charset="utf-8">
     <title>
       {% block title %}
       {{ page_title|default:"Untitled Page" }}
       {% endblock title %}
     </title>
     <link href="{% static "main/css/bootstrap.css" %}" rel="stylesheet" type="text/css">
     <link href="{% static "main/css/main.css" %}" rel="stylesheet" type="text/css">
     <script src="{% static "main/js/jquery-3.5.1.min.js" %}"></script>
     <script src="{% static "main/js/bootstrap.bundle.js" %}"></script>


     <meta name="docsearch:language" content="en">
   </head>
   <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/inventory" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hosts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/inventory">Host list</a>
              <a class="dropdown-item" href="#">Add host</a>
              <a class="dropdown-item" href="{% url 'hostdata_upload' %}">Upload hostfile...</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/firewall" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Firewalls
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/firewall">Firewll rules</a>
              <a class="dropdown-item" href="#">Add firewall rule</a>
              <a class="dropdown-item" href="{% url 'fwdata_upload' %}">Upload firewall list...</a>
            </div>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" name="host_search"  placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
      <section id="main">
        {% block content %}
          <p>Placeholder text in base template. Replace with page content.</p>
        {% endblock content %}
      </section>
      <div class="bottom">
        <footer id="footer">Copyright &copy;
          <script type="text/JavaScript">
            document.write(new Date().getFullYear());
          </script> Minitower
          <br/>Made by<br/> System team 4
        </footer>
      </div>
    </div>
   </body>
 </html>
